#ramen-menu {
    width: 1000px;
    margin: auto;
    cursor: pointer;

}
#ramen-detail {
    width: 200px;
    margin: auto;
}
#form-container {
    width: 200px;
    margin: auto;
}
h1{
    text-align: center;


}
